# ---------------------------------------------------------------------
# Derek C. Zoladz, v1.0.0 | JetBrains IDE: PyCharm
# gitignore Documenation: https://git-scm.com/docs/gitignore
# ---------------------------------------------------------------------
.idea

# -----------------------------------------------------------------
# macOS | OS-specifics
# -----------------------------------------------------------------
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# -----------------------------------------------------------------
# Environments: Virtual & Environment Variables
# -----------------------------------------------------------------
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# -----------------------------------------------------------------
# Compiled Source Files
# -----------------------------------------------------------------
*.com
*.class
*.dll
*.exe
*.o
*.so
*.dylib

# -----------------------------------------------------------------
# Runtime: Files & Logs
# -----------------------------------------------------------------
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
*.pid
*.seed
*.pid.lock
*.retry

# -----------------------------------------------------------------
# Ruby: Jekyll
# -----------------------------------------------------------------
_site/
.jekyll-cache/
.jekyll-metadata
/.bundle/
/vendor/bundle
/lib/bundler/man/

# -----------------------------------------------------------------
# JavaScript: Node, NPM, Grunt, Bower
# -----------------------------------------------------------------
.cache
.parcel-cache
.npm
.eslintcache
build/Release
node_modules/
.grunt
bower_components
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# -----------------------------------------------------------------
# Python: PyInstaller, distribution, byte-compiled
# -----------------------------------------------------------------
__pycache__/
*.py[cod]
*$py.class
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
pyvenv.cfg
pip-selfcheck.json
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.pytest_cache/
cover/
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache
__pypackages__/

# -----------------------------------------------------------------
# Sass
# -----------------------------------------------------------------
.sass-cache/
*.css.map
*.sass.map
*.scss.map
